<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Poppins:wght@400;700&family=Roboto+Mono:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>
    <nav class="shadow navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">SpaceIO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>


            </ul>
          </div>
        </div>
      </nav>



      <div class="container-fluid hero">
        <div class="container">
            </br>
            <div class="display-2">Space IO</div>
            <p>AI Powered Sentiment Analysis. Beta.</p>
        </div>
      </div>

      <div class="container-fluid quiz">
        <div class="container">

            <form action="/res" method="POST">
                <div class="mb-3">
                  <label for="Value1" class="form-label">How are you feeling today?</label>
                  <input type="text" class="form-control" name="text1">
                  
                </div>

                <div class="mb-3">
                    <label for="Value2" class="form-label">Another question?</label>
                    <input type="text" class="form-control" name="text2">
                    
                  </div>

                <div class="mb-3">
                    <label for="Value3" class="form-label">Last question?</label>
                    <input type="text" class="form-control" name="text3">
                    
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            
        </div>
      </div>

      <div class="container">
        </br>
        </br>

        <div class="res" id="counter">{{ res }}</div>
      </div>

     


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>